@use '../../../scss/mixins';

.upload-image-input {
  @include mixins.absolute-position();
  @include mixins.flex();

  border: dashed 0.5em lightslategrey;
  color: lightslategrey;

  h1 {
    font-size: 3em;
  }

  input {
    @include mixins.absolute-position();
    opacity: 0;
  }
}
